:root {
  --primary-color: #1B365D;
  --secondary-color: #FF6C00;
  --background-color: #F4F4F4;
  --text-color: #333;
  --button-hover-color: #142744;
  --border-radius: 8px;
  --transition-speed: 0.3s;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

header {
  background-color: var(--primary-color);
  color: #fff;
  padding: 20px;
  text-align: center;
}

main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#dashboard {
  background-color: #ffffff;
  padding: 20px;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-left: 8px solid var(--secondary-color);
}

#dashboard h2 {
  color: var(--primary-color);
  grid-column: span 2;
}

.item {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  display: block;
}

.item-content {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.item h3 {
  margin: auto;
  color: var(--primary-color);
  flex: 1;
  min-width: 100px;
}

.item p {
  margin: auto;
  flex: 1;
  min-width: 150px;
  font-weight: bold;
}

.button-container {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.editar {
  background-color: #ffffff;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: var(--border-radius);
  transition: background-color var(--transition-speed);
  width: fit-content
}

.editar img {
  width: 20px;
  height: 20px;
  pointer-events: none;
}

.excluir {
  background-color: rgba(221, 0, 0, 0.699);
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: var(--border-radius);
  transition: background-color var(--transition-speed);
}

.excluir:hover {
  background-color: rgb(139, 0, 0)
}

#cadastrarButton {
  background-color: #008000;
  color: #fff;
  border: none;
  padding: 12px 24px;
  cursor: pointer;
  border-radius: var(--border-radius);
  text-decoration: none;
  text-align: center;
  transition: background-color var(--transition-speed);
  width: 30px;
  height: 30px;
  margin: auto;
}

#cadastrarButton:hover {
  background-color: #016401;
}

#cadastrarButton img, #userRegBtn img {
  width: 30px;
  height: 30px;
}

#btnCadastrar, #import {
  background-color: #008000;
  color: #fff;
  border: none;
  padding: 12px 24px;
  cursor: pointer;
  border-radius: var(--border-radius);
  text-decoration: none;
  text-align: center;
  display: inline-block;
  transition: background-color var(--transition-speed);
  width: fit-content;
  margin-left: auto;
}

#btnCadastrar:hover, #import:hover {
  background-color: #016401;
}

#filterButton {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 12px 24px;
  cursor: pointer;
  border-radius: var(--border-radius);
  text-decoration: none;
  text-align: center;
  display: inline-block;
  transition: background-color var(--transition-speed);
  width: fit-content;
  margin: auto;
}

#filterButton:hover {
  background-color: var(--button-hover-color);
}

#refreshButton {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 12px 24px;
  cursor: pointer;
  border-radius: var(--border-radius);
  text-decoration: none;
  text-align: center;
  transition: background-color var(--transition-speed);
  width: fit-content;
  float: left;
}

#refreshButton img {
  width: 20px;
  height: 20px;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-left: 8px solid var(--secondary-color);
}

form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: var(--primary-color);
}

form input,
form select {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: var(--border-radius);
  box-sizing: border-box;
}

#backButton,
#editVoltar {
  float: left;
  background-color: var(--secondary-color);
  color: #fff;
  border: none;
  padding: 12px 24px;
  cursor: pointer;
  border-radius: var(--border-radius);
  transition: background-color var(--transition-speed);
  text-align: center;
  text-decoration: none;
}

#backButton:hover,
#editVoltar:hover {
  background-color: #e65b00;
}

body h1 {
  margin-left: 20px;
}

#toggleFilterButton {
  padding: 0.5rem;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 1rem;
  width: fit-content;
  margin: 20px;
  text-decoration: none;
}

#toggleFilterButton:hover {
  background-color: #e65b00;
}

#filterForm {
  margin-bottom: 1rem;
}

.btnCadastrar {
  background-color: #008000;
  color: #fff;
  border: none;
  padding: 12px 24px;
  cursor: pointer;
  border-radius: var(--border-radius);
  text-decoration: none;
  text-align: center;
  display: inline-block;
  transition: background-color var(--transition-speed);
  width: 100%;
  max-width: 500px;
  margin: auto;
}

.btnCadastrar:hover {
  background-color: #016401;
}

 .dropbtn {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 12px 24px;
  cursor: pointer;
  border-radius: var(--border-radius);
  text-decoration: none;
  text-align: center;
  display: inline-block;
  transition: background-color var(--transition-speed);
  width: 100%;
  max-width: fit-content;
  margin: auto;
}

.dropbtn img {
  width: 20px;
  height: 20px;
}

.dropdown {
  position: relative;
  float: right;
  width: fit-content;
  text-decoration: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  overflow: auto;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropbtn:hover {background-color: #142744;}

#logoutBtn {
  background-color: #142744;
  color: #fff;
  border: none;
  padding: 12px 24px;
  cursor: pointer;
  border-radius: var(--border-radius);
  text-decoration: none;
  text-align: center;
  transition: background-color var(--transition-speed);
  width: 100%;
  max-width: fit-content;
  margin: auto;
  float: right
}

#logoutBtn:hover {
  background-color: #102038
}

#logoutDrop img, #usersBtn img, #logsBtn img, #exportBtn img, #logoutBtn img {
  float: left;
  width: 20px;
  height: 20px
}

.location {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.location-header {
  background-color: #f7f7f7;
  padding: 10px;
  cursor: pointer;
  margin: 0;
}

.location-content {
  padding: 10px;
  display: none;
}

.item {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.item-content {
  margin: 0;
}

.item:last-child {
  border-bottom: none;
}

